/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

/*
    =======================================================================

    Order payment information.

    =======================================================================
 */
.rb-pi-title {
  background:#22817c;
  border-bottom-color: #22817c;
}

.rb-pi-title h3 {
  color: black;
}

.rb-pi {
  background-color: #2a9a90;
}

.rb-pi .rb-pi-logo {
  float: right;
  margin-right: 10px;
  margin-top: -26px;
}

.rb-pi .rb-pi-logo > .img {
  background-image: url(i/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: calc(340px / 4);
  height: calc(120px / 4);
}

.rb-pi table tbody tr th,
.rb-pi table tbody tr td {
  color: black;
  padding: 5px 10px;
}

.rb-pi table tbody tr th {
  white-space: nowrap;
}

.rb-pi table tbody tr td {
  width: 100%;
}

.rb-pi table tbody tr:nth-child(odd) th,
.rb-pi table tbody tr:nth-child(odd) td {
  background:#22817c;
}
