{#**
* Copyright © Resurs Bank AB. All rights reserved.
* See LICENSE for license details.
*
*#}
<li class="nav-item">
    <a class="nav-link" id="paymentHistoryTab" data-toggle="tab" href="#paymentHistoryTabContent" role="tab" aria-controls="paymentHistoryTabContent" aria-expanded="true" aria-selected="false">
        <i class="material-icons">replay</i>
        {{ paymentHistoryTitle }}
    </a>
</li>