{#**
* Copyright © Resurs Bank AB. All rights reserved.
* See LICENSE for license details.
*
*#}
<div class="tab-pane d-print-block fade payment-history" id="paymentHistoryTabContent" role="tabpanel" aria-labelledby="paymentHistoryTab">
    {% embed '@PrestaShop/Admin/Sell/Order/Order/Blocks/View/details_card.html.twig' %}
        {% block header %}
            {{ paymentHistoryTitle }}
        {% endblock %}
        {% block body %}
            {% include '@Modules/psrbordermanagement/views/templates/order/payment_history_table.twig' %}
        {% endblock %}
    {% endembed %}
</div>
